<!-- <p>about works!</p> -->

<!-- <p>services works!</p> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->

<section class="section services-section" id="services" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>You Can Imagine <br>I Can Do</h2>
                    <p>Welcome to my world of innovation and imagination. With a blend of technical expertise and a fervent desire to innovate, I am dedicated to pushing the envelope of what's possible.</p>
                </div>
            </div>
        </div>
     
          
    <div class="row">
 
      <div class="col-lg-6 col-sm-6 mb-4 about-me">
        <div class="card border-0 shadow rounded-xs ">
          <div class="card-body about-me-card">
            <!-- <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i> -->
            <h4 class="mt-3 mb-3"> About Me </h4>
            <p>I'm a dedicated Software Engineer with a passion for elegant solutions. Proficient in multiple languages and frameworks, I've crafted various applications ranging from intuitive user interfaces to complex backend systems. With a solid foundation in algorithm design and problem-solving, I thrive in collaborative environments and am always eager to tackle new challenges head-on. </p>
          </div>
        </div>
      </div>
   
     
      <div class="col-lg-6 col-sm-6 mb-4 about-image-card">
        <div class="card border-0 shado rounded-xs pt-5">
          <div class="card-body">
            <!-- <i class="fa fa-cloud icon-lg icon-cyan icon-bg-cyan icon-bg-circle mb-3"></i> -->
            <img class="about-image" src="assets/image/webdev.jpg" alt="">
            <!-- <h4 class="mt-4 mb-3">Digital Marketing</h4>
            <p>For what reason would it be advisable for me to think about business content?</p> -->
          </div>
        </div>
      </div>


        
          
        </div>
    </div>
</section>