<!-- <p>portfolio works!</p> -->

<!-- <p>services works!</p> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>My Portfolio</h2>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                </div>
            </div>
        </div>
     
          
    <div class="row">
 
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body">
            <!-- <i class="fa fa-object-ungroup icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i> -->
            <img class="portfolio-card-image" src="assets/image/testimg.jpg" alt="">
            <h4 class="mt-4 mb-3">YouTube Clone</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body">
            <!-- <i class="fa fa-desktop icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"></i> -->
            <img class="portfolio-card-image" src="assets/image/testimg.jpg" alt="">
            <h4 class="mt-4 mb-3">Sorting Visualizer</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body">
            <img class="portfolio-card-image" src="assets/image/testimg.jpg" alt="">
            <h4 class="mt-4 mb-3">Search Engine</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body">
            <img class="portfolio-card-image" src="assets/image/testimg.jpg" alt="">
            <h4 class="mt-4 mb-3">Quiz Application</h4>
            <p>For what reason would it be advisable for me to think about business content?</p>
          </div>
        </div>
      </div>
          
        </div>

        <div class="more-projects">
        	<p>click here for more</p>
        </div>
    </div>
</section>