<!-- <p>introduction works!</p> -->

<section class="section services-section" id="services" >
    <div class="container">
        
     
          
    <div class="row">
 
      <div class="col-lg-6 col-sm-6 mb-4 about-me">
        <div class="card border-0 rounded-xs ">
          <div class="card-body about-me-card">
           
	
		<div class="home-card">
			<h4 class="my-name">Welcome to My World</h4>
			<h2 class="hello"> <b> < Hello, I'm Sanjay /> </b></h2> <br>
			<h1 class="position">Software Developer</h1>
			<p>For what reason would it be advisable for me to think about business content?</p>

		</div>

		<div class="contact-button mt-4 mb-4">
			
			<span class="hire-me">Hire Me</span>
			<span class class="cv"><a href="#">Download CV</a></span>
		
		</div>

	
			<div class="wrapper">
				  <a href="#" class="icon facebook">
				    <div class="tooltip">Facebook</div>
				    <span><i class="fa fa-facebook-f custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon twitter">
				    <div class="tooltip">Twitter</div>
				    <span><i class="fa fa-twitter custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon instagram">
				    <div class="tooltip">Instagram</div>
				    <span><i class="fa fa-instagram custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon github">
				    <div class="tooltip">Github</div>
				    <span><i class="fa fa-github custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon youtube">
				    <div class="tooltip">Youtube</div>
				    <span><i class="fa fa-youtube custom-icon"></i></span>
				  </a>
			</div>
		


          </div>
        </div>
      </div>
   
     
      <div class="col-lg-6 col-sm-6 mb-4">
        <div class="card border-0 rounded-xs">
          <div class="card-body">
            <img class="about-image" src="assets/image/skills.png" alt="">            
          </div>
        </div>
      </div>
          
        </div>
    </div>
</section>

<!-- <section class="introduction" >
	<div class="home-introduction container">
		<div class="home-card"> -->



			<!-- dont use this --  <h4 class="my-name">Hello, I'm Sanjay</h4>
			<h1> <b> < Software Developer /> </b></h1> -->

			<!-- <h4 class="my-name">Welcome to My World</h4>
			<h2 class="hello"> <b> < Hello, I'm Sanjay /> </b></h2> <br>
			<h1 class="position">Software Developer</h1>
			<p>For what reason would it be advisable for me to think about business content?</p>

		</div>

		<div class="contact-button mt-3 mb-3">
			
			<span class="hire-me">Hire Me</span>
			<span class class="cv text-decoration-none"><a href="#">Download CV</a></span>
		
		</div> -->

		<!-- dont use this -- <div class="social"> -->
			<!-- <div class="wrapper">
				  <a href="#" class="icon facebook">
				    <div class="tooltip">Facebook</div>
				    <span><i class="fa fa-facebook-f custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon twitter">
				    <div class="tooltip">Twitter</div>
				    <span><i class="fa fa-twitter custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon instagram">
				    <div class="tooltip">Instagram</div>
				    <span><i class="fa fa-instagram custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon github">
				    <div class="tooltip">Github</div>
				    <span><i class="fa fa-github custom-icon"></i></span>
				  </a>
				  <a href="#" class="icon youtube">
				    <div class="tooltip">Youtube</div>
				    <span><i class="fa fa-youtube custom-icon"></i></span>
				  </a>
			</div> -->
		<!-- </div> -->
<!-- 	</div>
</section>
 -->